*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  


}

.container{
  display: flex;
  margin: 100px 100px auto 100px;
}
.container > div{
  margin-left: 10px;
  border: 1px solid black;
  padding: 100px ;
  width: 600px;
  
}
.form-insert{
  align-items: left;
  text-align: left;
}
.form-insert input{
   width: 350px;
   height: 30px;
   margin-bottom: 10px;
   margin-top: 5px;
   outline: none;


}
.form-insert button{
  width: 100px;
  height:40px;
  border: none;
  margin-top: 50px;
  background: linear-gradient(blue,rgb(84, 18, 160));
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 1px 2px 5px #000;
}
.card-body {
  display: flex;
  text-align: left;
}
.show-data .thead{
  display: flex;
}
.show-data .thead > div {
  margin-right: 50px;
}

